<div class="d-flex justify-content-center col-md-6 mb-4" data-update-appointment-target="cardSpecific" data-appointment-id="<%= appointment.id %>">
  <div class="card-appointment">
    <div class="d-flex justify-content-center py-2">
      <% if appointment.user.photo.attached? %>
        <%= image_tag cl_image_path(appointment.user.photo.key), alt: 'Profile User Photo', class: 'img-card-appointment mx-4' %>
      <% else %>
        <%= image_tag asset_path('counsellor.png'), alt: 'Default Profile Photo', class: 'img-card-appointment mx-4' %>
      <% end %>
      <% if appointment.counsellor.nil? %>
        <%= image_tag asset_path('question-mark.jpg'), alt: 'Default Profile Photo', class: 'img-card-appointment mx-4' %>
      <% else %>
        <% if appointment.counsellor.photo.attached? %>
          <%= image_tag cl_image_path(appointment.counsellor.photo.key), alt: 'Profile Counsellor Photo', class: 'img-card-appointment mx-4' %>
        <% end %>
      <% end %>
    </div>
    <div class="ps-2">
      <h5 class="card-title"><strong><%= appointment.user.fullname %></strong></h5>
      <p class="card-text"><%= appointment.symptom %></p>
      <p> <strong>Schedule Time:</strong>
        <%= appointment.schedule_time.strftime("%B %d, %Y at %I:%M %p") %>
      </p>
      <% if appointment.confirmation %>
        <% chatroom = ClientChatroom.find_by(user_id: appointment.user_id, counsellor_id: appointment.counsellor_id) %>
        <% if chatroom.present? %>
          <%= link_to 'Your Talkroom', client_chatroom_path(chatroom), class: 'btn-appointment justify-content-center mb-2' %>
        <% elsif %>
          <%= button_to 'Create Talkroom', client_chatrooms_path(user_id: appointment.user_id, counsellor_id: appointment.counsellor_id), method: :post, class: 'btn-appointment justify-content-center mb-2' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
