<div class="wrap w-100">
  <div class="wrap-2">
    <div class="wrap-3">
      <div class="wrap-4">
        <div class="wrap-5"></div>
        <div class="wrap-6">
          <div class="wrap-7">Welcome</div>
          <div class="wrap-8">
            Hello and welcome to TalkRoom, your platform for accessible and free psychological support. We are delighted to have you here and want to ensure that you receive all the support necessary to take care of your mental health.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap-9">
    <div class="wrap-10 d-flex">
      <div class="wrap-11">
        <div class="colum">
          <%# <%= image_tag @user.photo.variant(resize: "100x100"), class: 'rounded-circle imga-1' if @user.photo.attached? %> 
        </div>
        <div class="colum-2">
          <div class="wrap-12">
            <p><strong>Email:</strong> <%= @user.email %></p>
            <p><strong>Full Name:</strong> <%= @user.fullname %></p>
            <p><strong>Gender:</strong> <%= @user.gender %></p>
            <p><strong>Location:</strong> <%= @user.location %></p>
            <p><strong>Date of Birth:</strong> <%= @user.birthdate.strftime("%B %d, %Y") if @user.birthdate %></p>
            <p><strong>Issues:</strong> <%= @user.other_issues %></p>
            <p><strong>Consultation History:</strong></p>
            <p><%= @user.consultation_history %></p>
            <%= link_to 'Change Password', edit_user_registration_path, class: 'btn-wrap' %>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-34">
      <span style="color: rgba(255, 255, 255, 1)"></span>
      <%= link_to 'Book an appointment', new_appointment_path, class: "btn-wrap" %>
    </div>


<div class="wrap-13">Appointments</div>
<% if @appointments.any? %>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @appointments.each_slice(3).with_index do |appointment_group, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="row">
            <% appointment_group.each do |appointment| %>
              <div class="col-md-4 mb-4">
                <div class="card bg-light appointment-card">
                  <div class="card-body">
                    <p class="card-text"><strong>Time:</strong> <%= appointment.schedule_time.strftime("%B %d, %Y at %I:%M %p") %></p>
                    <p class="card-text"><strong>Symptom:</strong> <%= appointment.symptom %></p>
                    <p class="card-text"><strong>Confirmed:</strong> <%= appointment.confirmation ? 'Yes' : 'No' %></p>
                    <% if appointment.confirmation == true %>
                      <%= link_to 'Your Talkroom', client_chatroom_path(@chatroom), class: "btn-wrap mt-2" %>
                    <% end %>
                  </div>
                  <div class="card-footer d-flex justify-content-between">
                    <%= link_to 'Edit', edit_appointment_path(appointment), class: 'btn-wrap' %>
                    <%= link_to 'Delete', appointment_path(appointment), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn-wrap', style: 'margin-left: 5px;' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% else %>
  <p class="text-center w-100">You have no appointments.</p>
<% end %>


    <div class="wrap-35">
      <div class="wrap-36">
        <%= image_tag 'home8.png', loading: 'lazy', class: 'imga-5' %>
        <div class="wrap-37">
          <div class="wrap-38">Taking care of your mental health is essential for your overall well-being</div>
          <%= image_tag 'home7.png', loading: 'lazy', class: 'imga-6' %>
        </div>
      </div>
    </div>


    <div class="wrap-39">Previous Appointments</div>
<div class="wrap-40">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% @previous_appointments.each_with_index do |appointment, index| %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" <%= 'class="active" aria-current="true"' if index.zero? %> aria-label="Slide <%= index + 1 %>"></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @previous_appointments.each_with_index do |appointment, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <div class="card">
            <%# <%= image_tag appointment.counsellor.photo, loading: 'lazy', class: 'card-img-top' if appointment.counsellor.photo.present? %>
            <div class="card-body">
              <h5 class="card-title">Counsellor name: <%= appointment.counsellor.fullname if appointment.counsellor  %></h5>
              <p class="card-text">
                Schedule time: <%= appointment.schedule_time.strftime("%B %d, %Y at %I:%M %p") %><br />
                Symptom: <%= appointment.symptom %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
