<footer class="footer mt-5 pt-4 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'About Us', about_us_path, class: 'footer-link text-muted' %></li>
          <li><%= link_to 'Contact', contacts_new_path, class: 'footer-link text-muted' %></li>
          <li><%= link_to 'Careers', '#', class: 'footer-link text-muted' %></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'FAQ', '#', class: 'footer-link text-muted' %></li>
          <li><%= link_to 'Terms of Service', '#', class: 'footer-link text-muted' %></li>
          <li><%= link_to 'Privacy Policy', '#', class: 'footer-link text-muted' %></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Connect with the creator</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.instagram.com/luiz.cunhaa/" class="text-muted" target="_blank">Instagram</a></li>
          <li><a href="https://www.linkedin.com/in/luiz-cunha-560779227/" class="text-muted" target="_blank">Linkedin</i></a></li>
          <li><a href="https://github.com/Luiz-Cunha" class="text-muted" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-muted">&copy; <%= Time.now.year %> Talkroom. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
