<div class="container mt-5">
  <h1 class="mb-4 text-center">Counsellor Dashboard</h1>

  <% @appointments.each do |appointment| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= appointment.user.email %></h5>
        <p class="card-text"><%= appointment.symptom %></p>
        <%= simple_form_for appointment do |f| %>
          <%= f.input :confirmation, as: :hidden, input_html: { value: true } %>
          <%= f.input :counsellor_id, as: :hidden, input_html: { value: current_counsellor.id } %>
          <%= f.submit 'Accept', class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Ongoing Patients</h1>
    <ul class="list-group">
      <% @patients.each do |patient| %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>
              <span class="font-weight-bold">Patient name:</span>
              <span><%= patient.fullname %></span>
            </div>
            <div>
              <span class="font-weight-bold">Symptom:</span>
              <span><%= patient.appointments[0].symptom %></span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
