<div class="profile-background">
  <div class="container profile-border">
    <h1>Welcome</h1>
    <p>
      Hello and welcome to TalkRoom, a platform dedicated to providing accessible mental health support while helping you gain valuable real-world experience. We are thrilled to have you join our team of passionate and compassionate counsellors.
    </p>
  </div>
</div>

<div class="container mt-4">
  <div class="row counsellor-data">
    <div class="col-12 col-lg-4 align-content-center mb-4">
      <%= image_tag cl_image_path(current_counsellor.photo.key), alt: 'Profile Patient', class: 'rounded-circle profile-image img-fluid mb-2' %>
    </div>
    <div class="col-12 col-lg-8">
      <p><strong>Email:</strong> <%= @counsellor.email %></p>
      <p><strong>Full Name:</strong> <%= @counsellor.fullname %></p>
      <p><strong>Gender:</strong> <%= @counsellor.gender %></p>
      <p><strong>Location:</strong> <%= @counsellor.address %></p>
      <p><strong>Date of Birth:</strong> <%= @counsellor.birthdate.strftime("%B %d, %Y") if @counsellor.birthdate %></p>
      <p><strong>University Name:</strong> <%= @counsellor.university_name %></p>
      <p><strong>University ID:</strong> <%= @counsellor.university_id %></p>
      <p><strong>Degree Program:</strong> <%= @counsellor.degree_program %></p>
      <p><strong>Year of Study:</strong> <%= @counsellor.year_of_study %></p>
      <p><strong>Expected Graduation Date:</strong> <%= @counsellor.expected_graduation_date %></p>
      <div class="mt-3">
        <%= link_to 'Change Password', edit_counsellor_registration_path, class: 'btn-homepage' %>
      </div>
    </div>
  </div>
</div>

<div class="container-previous-appointments-margin-top d-flex justify-content-center">
  <div data-controller="appointments" class="col-12 col-md-8">
    <div class="row justify-content-center <%= 'scroller' if @appointments.any? %> pt-2" data-appointments-target="appointments">
      <% @appointments.order(created_at: :desc).each_with_index do |appointment, index| %>
        <%= render "pending_appointments", appointment: appointment, index: index %>
      <% end %>
    </div>
  </div>
</div>

<div class="big-tag w-100 mt-4">
  <%= image_tag 'home8.png', loading: 'lazy', class: 'imag1 img-fluid' %>
  <div class="big-tag2 mt-3">
    <h1>Taking care of your mental health is essential for your overall well-being</h1>
    <%= image_tag 'home7.png', loading: 'lazy', class: 'imag2 img-fluid' %>
  </div>
</div>

<div class="previous-title mt-4">
  On-going Appointments
</div>

<div class="container previous-appointments d-flex flex-column flex-md-row justify-content-center">
  <div class="col-12 col-md-4 mb-4">
    <%= image_tag asset_path('counsellor2.png'), alt: 'Default Profile Photo', class: 'img-counsell img-fluid' %>
  </div>
  <div id="carouselPreviousAppointments" class="carousel slide col-12 col-md-8">
    <div class="carousel-inner">
      <% @appointments_confirmed.order(created_at: :desc).each_with_index do |appointment, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="row justify-content-center pt-2">
            <%= render 'counsellors/previous_appointment_counsellor', appointment: appointment %>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPreviousAppointments" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselPreviousAppointments" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
