<!-- First Page -->
<div class="d-flex justify-content-around align-items-center" style="height: 80vh;">
  <div>
    <div class="card-homepage-top">
      Healthy Minds, Happy Lives
      <span style="color: rgba(236, 116, 74, 1)">Mental Health</span>
      Consultancy
    </div>
    <div class="subtitle-card-homepage-top">Do you need to talk? We are here for you?</div>
    <%= link_to 'Get Started', signup_page_path, class: "btn btn-homepage"%>
  </div>
  <div>
    <%= image_tag 'home1.png', loading: 'lazy', class: 'img-1' %>
  </div>
</div>

<!-- Green Banner -->
<div class="w-100 d-flex flex-column justify-content-center align-items-center" style="background: linear-gradient(270deg, #007D6E 0%, #5EB47C 100%); height: 420px;">
  <%= image_tag 'home8.png', loading: 'lazy', class: "align-self-start" %>
  <div class="text-in-greenbanner-quotes">
    You are not alone. In times of difficulty, remember that there are
    people who care about you. Friends, family, and mental health
    professionals are here to support you.
  </div>
  <%= image_tag 'home7.png', loading: 'lazy', class: "align-self-end" %>
</div>

<!-- Text Before Three Cards -->
<div class="before-cards-banner-flex-text w-100 mt-5">
  <div style="color: #000;" class="text-with-size-h6">Why Talkroom?</div>
  <div class="text-with-size-h2" style="font-size: 54px;">
    Why Our Mental Health Consultants are the Best Choice
  </div>
</div>

<!-- Three Cards -->
<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="left-card">
    <div class="inside-left-card">
      <%= image_tag 'home3.png', loading: 'lazy', class: 'img-4 mt-2' %>
      <div class="text-with-size-h5">Holistic approach</div>
      <div class="body-light-text">
        Free Counselling: We offer free counselling services to anyone
        seeking help. Our platform is designed to be user-friendly, making
        it easy for individuals to find and connect with a counsellor who
        suits their needs.
      </div>
    </div>
  </div>
  <div class="middle-card">
    <div class="inside-middle-card">
      <%= image_tag 'home4.png', loading: 'lazy', class: 'img-5 mt-2' %>
      <div class="text-with-size-h4" style="color: var(--txt, #FFF);">Expertise Team</div>
      <div class="body-light-text" style="color: var(--txt, #FFF);">
        By working with real patients, our student counsellors gain the
        hands-on experience they need to grow and excel in their future
        careers.
      </div>
    </div>
  </div>
  <div class="right-card">
    <div class="inside-right-card">
      <%= image_tag 'home5.png', loading: 'lazy', class: 'img-6 mt-2' %>
      <div class="text-with-size-h5">Accessibility</div>
      <div class="body-light-text">
        Mental health care should be available to everyone. We break down
        financial barriers to ensure that help is within reach for those who
        need it most.
      </div>
    </div>
  </div>
</div>

<!-- About Us -->
<div class="d-flex justify-content-center my-5">
  <div>
    <%= image_tag 'home2.png', loading: 'lazy', class: 'img-7' %>
  </div>
  <div style="width: 659px;">
    <div class="text-with-size-h6">About Us</div>
    <div class="text-with-size-h2" style="font-size: 54px; width: 659px;">
      Discover the Faces Behind Our Mental Health Consultancy
    </div>
    <div class="d-flex mt-5">
      <%= image_tag ("female_avatar.png"), class: 'homepage-avatar rounded-circle', alt: 'Counsellor female avatar' %>
      <%= image_tag ("male_avatar.png"), class: 'homepage-avatar rounded-circle', alt: 'Counsellor male avatar' %>
    </div>
  </div>
</div>

<!-- Map -->
<div class="map-display-text w-100">
  <div class="text-with-size-h6">Maps</div>
  <div class="text-with-size-h2" style="font-size:54px;">Mapping Out Mental Health Consulting Strategies</div>
</div>
<div class="map-container rounded-circle justify-content-center">
  <div id="map" data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
