<div class="main-content w-100">
  <section class="hero w-100">
    <div class="hero-content d-flex justify-content-around align-items-baseline align-self-center mt-3">
      <div class="left-side">
        <h1 class="ms-5">DO YOU NEED TO TALK?</h1>
        <p class="subtitle ms-5">A safe space for a free meeting with Psychology Students</p>
        <p class="phrase">We are here for you!</p>
        <div class="buttons">
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-pri' %>
          <%= link_to 'Get Started', '#', class: 'btn btn-sec' %>
        </div>
        </div>
      <div class="right-side ms-3">
        <%= image_tag 'logo.png', class: 'logo img-fluid' %>
      </div>
    </div>
  </section>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-md-6 mb-5">
      <h1 class="hero2 me-5">TALK AROUND THE WORLD WITH US!</h1>
      <h2>
        <strong>Who we are</strong>
      </h2>
      <p class="mb-3">
        <strong>TalkRoom</strong> is a nonprofit platform that connects people needing mental health support with psychology students who provide free counseling. It's designed to be easy to use, offering free access to mental health care while giving students practical experience under professional supervision. Whether you're looking for help or are a psychology student wanting hands-on experience, TalkRoom aims to make mental health care accessible to everyone, anywhere in the world.
      </p>
      <p class="mb-3">
        <strong>Accessibility:</strong> Mental health care should be available to everyone. We break down financial barriers to ensure that help is within reach for those who need it most.
      </p>
      <p class="mb-3" >
        <strong>Global Reach:</strong> No matter where you are in the world, TalkRoom is here to help. Our online platform allows us to connect clients and counselors across different time zones and geographical locations.
      </p>
      <p>
        <strong> Our counsellors community around the world!</strong>
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div id="map" class="map-container rounded-circle" data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
