<div class="banner mb-5" style="background: linear-gradient(270deg, #007D6E 0%, #5EB47C 100%)">
  <div class="container">
    <div style="border-left: 3px solid white;
          padding-left: 30px;
          margin-left: 60px;">
      <h1>How does it work</h1>
      <p class="mt-3">Patients receive the help they need, student counsellors gain valuable experience, and supervisors contribute to the development of future mental health professionals. This collaborative environment creates a supportive and nurturing space for all involved.</p>
    </div>
  </div>
</div>

<!-- Top Side grid -->
<div class="container mb-5">
  <h1 class="text-center my-5 text-with-size-h4">Get Started</h1>
  <div class="row mb-5">
    <div class="col-4">
      <div class="d-flex justify-content-center">
       <%= image_tag 'signup_walking.png' %>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <p class="text-with-size-h5 mt-3 pb-3">Sign Up:</p>
          <p class="body-light-text text-start">For Patients: Individuals seeking mental health support can quickly and easily sign up on our TalkRoom platform.
    For Student Counsellors: Psychology students in their advanced years of study or recent graduates can apply to become counselors.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <%= image_tag 'find_a_match.png' %>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <p class="text-with-size-h5 mt-3">Find a Match:</p>
          <p class="body-light-text text-start">For Patients: Browse through profiles of available student counsellors to find the best match based on background, expertise, and availability.
    For Counsellors: Once accepted, student counsellors undergo comprehensive training and are paired with licensed supervisors.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <%= image_tag 'schedule_appointments.png' %>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <p class="text-with-size-h5 mt-3">Schedule Appointments:</p>
          <p class="body-light-text text-start">For Patients: Schedule appointments through our flexible online system, accommodating different time zones and busy schedules.
    For Counsellors: Start providing free counselling sessions under the supervision of experienced mentors.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <%= image_tag 'receive_counselling.png' %>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <p class="text-with-size-h5 mt-3">Receive and Provide Counselling:</p>
          <p class="body-light-text text-start">For Patients: Receive compassionate, empathetic, and professional counselling without financial burden.
    For Counsellors: Gain hands-on experience by working with real clients, refining skills, and growing as mental health professionals.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <%= image_tag 'global_reach.png' %>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
        <p class="text-with-size-h5 mt-3">Global Reach:</p>
        <p class="body-light-text text-start">Accessibility: Our online platform connects patients and counsellors from around the world, breaking down geographical barriers to mental health support.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-center">
        <%= image_tag 'mutual_benefit.png' %>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <p class="text-with-size-h5 mt-3">Mutual  Benefits:</p>
          <p class="body-light-text text-start">Mutual Benefits: Patients receive the help they need, student counsellors gain practical experience, and supervisors contribute to the development of future mental health professionals.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bottom side cards -->
<div class="container mb-5">
  <div class="row mb-5">
    <div class="col-6">
      <div class="card-how-does-it-work p-3">
        <div class="card-how-does-it-work-inside-card">
          <%= image_tag 'white-hands.png', loading: 'lazy', class: 'img-4 mt-2 p-2' %>
          <p class="text-with-size-h4" style="color: var(--txt, #FFF);">Expertise Team</p>
          <p class="body-light-text" style="color: var(--txt, #FFF);">
            By working with real patients, our student counsellors gain the
            hands-on experience they need to grow and excel in their future
            careers.
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-how-does-it-work p-3" style="background: rgb(252, 248, 244);">
        <div class="card-how-does-it-work-inside-card">
          <%= image_tag 'headphone.png', loading: 'lazy', class: 'img-5 mt-2 p-2' %>
          <p class="text-with-size-h4">Expertise Team</p>
          <p class="body-light-text">
            By working with real patients, our student counsellors gain the
            hands-on experience they need to grow and excel in their future
            careers.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card-how-does-it-work p-3" style="background: rgb(252, 248, 244);">
        <div class="card-how-does-it-work-inside-card">
          <%= image_tag 'head_chat.png', loading: 'lazy', class: 'img-5 mt-2 p-2' %>
          <p class="text-with-size-h4">Expertise Team</p>
          <p class="body-light-text">
            By working with real patients, our student counsellors gain the
            hands-on experience they need to grow and excel in their future
            careers.
          </p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card-how-does-it-work p-3">
        <div class="card-how-does-it-work-inside-card">
          <%= image_tag 'meditation.png', loading: 'lazy', class: 'img-5 mt-2 p-2' %>
          <p class="text-with-size-h4" style="color: var(--txt, #FFF);">Expertise Team</p>
          <p class="body-light-text" style="color: var(--txt, #FFF);">
            By working with real patients, our student counsellors gain the
            hands-on experience they need to grow and excel in their future
            careers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
