<div class="container " style="background-color: #f0f4f1; color: #28697E; font-family: 'Alegreya', serif;">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :fullname,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "fullname" }%>
          <%= f.input :birthdate, as: :date,
                                      start_year: Date.today.year - 90,
                                      end_year: Date.today.year - 14,
                                      order: [:day, :month, :year],
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "birthdate" }%>
          <%= f.input :gender, collection: [['Male', 'male'], ['Female', 'female'], ['Other', 'other']] %>
          <%= f.input :location,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "location" }%>
          <%= f.input :university_name,
                      required: true %>
          <%= f.input :university_id, label: "University Student ID",
                      required: true %>
          <%= f.input :degree_program %>
          <%= f.input :year_of_study,
                      required: true, label: "Admission year" %>
          <%= f.input :expected_graduation_date,
                      required: true %>
          <%= f.input :counseling_experience, as: :select, label: "Have you had previous counseling experience?" %>
          <%= f.input :counseling_experience_description, as: :text, label: "If yes, please briefly describe your experience" %>
          <%= f.input :consent, required: true, as: :radio_buttons, collection: [['Yes', true], ['No', false]], label: "Do you agree to provide counseling services under the supervision of a licensed psychologist and adhere to TalkRoom’s guidelines?" %>
          <%= f.input :terms_conditions, required: true, as: :radio_buttons, collection: [['Yes', true], ['No', false]], label: "Do you agree to adhere to TalkRoom’s terms and conditions?" %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
<%= render "counsellors/shared/links" %>
