<h1>Edit Appointment</h1>
<%= simple_form_for @appointment do |f| %>
  <%= f.input :schedule_time, as: :datetime %>
  <%= f.input :symptom, as: :text %>
  <%= f.input :counsellor_id, collection: Counsellor.all.collect { |c| [c.email, c.id] }, prompt: 'Select a Counsellor' %>
  <%= f.button :submit, 'Update Appointment' %>
<% end %>
