<h1>Edit Appointment</h1>
<%= simple_form_for @appointment do |f| %>
  <%= f.input :schedule_time, as: :datetime %>
  <%= f.input :symptom, as: :text %>
  <%= f.input :description, as: :text %>
  <%= f.button :submit, 'Save Appointment' %>
<% end %>
