<h1>create me</h1>
<%= simple_form_for @appointment do |f| %>
  <%= f.input :confirmation, as: :hidden, input_html: { value: false } %>
  <%= f.input :schedule_time, as: :datetime %>
  <%= f.input :symptom, as: :text %>
  <%= f.button :submit, 'Book Appointment' %>
<% end %>
