<h1>Appointment Details</h1>
<p>
  <strong>Schedule Time:</strong>
  <%= @appointment.schedule_time %>
</p>
<p>
  <strong>Symptom:</strong>
  <%= @appointment.symptom %>
</p>
<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>
<p>
  <strong>Counsellor:</strong>
  <% if @appointment.confirmation == true %>
  <%=@appointment.counsellor.email %>
  <% end %>
</p>
<p>
  <strong>Confirmed:</strong>
  <%= @appointment.confirmation ? 'Yes' : 'No' %>
</p>
<%= link_to 'Edit', edit_appointment_path(@appointment), class: 'btn btn-primary' %> |
<%= link_to 'Back', profile_user_path(current_user), class: 'btn btn-secondary' %> |
<%= link_to 'Delete', (@appointment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn  btn-sm'%>
